*.o
CUDA/bin/bt.A
CUDA/bin/bt.B
CUDA/bin/bt.C
CUDA/bin/bt.S
CUDA/bin/bt.W
CUDA/bin/cg.A
CUDA/bin/cg.B
CUDA/bin/cg.C
CUDA/bin/cg.D
CUDA/bin/cg.S
CUDA/bin/cg.W
CUDA/bin/ep.A
CUDA/bin/ep.B
CUDA/bin/ep.C
CUDA/bin/ep.S
CUDA/bin/ep.W
CUDA/bin/ft.A
CUDA/bin/ft.B
CUDA/bin/ft.C
CUDA/bin/ft.S
CUDA/bin/ft.W
CUDA/bin/is.A
CUDA/bin/is.B
CUDA/bin/is.C
CUDA/bin/is.S
CUDA/bin/is.W
CUDA/bin/lu.A
CUDA/bin/lu.B
CUDA/bin/lu.C
CUDA/bin/lu.S
CUDA/bin/lu.W
CUDA/bin/mg.A
CUDA/bin/mg.B
CUDA/bin/mg.C
CUDA/bin/mg.S
CUDA/bin/mg.W
CUDA/bin_opt/bt.A
CUDA/bin_opt/bt.B
CUDA/bin_opt/bt.C
CUDA/bin_opt/bt.S
CUDA/bin_opt/bt.W
CUDA/bin_opt/cg.A
CUDA/bin_opt/cg.B
CUDA/bin_opt/cg.C
CUDA/bin_opt/cg.S
CUDA/bin_opt/cg.W
CUDA/bin_opt/ep.A
CUDA/bin_opt/ep.B
CUDA/bin_opt/ep.C
CUDA/bin_opt/ep.S
CUDA/bin_opt/ep.W
CUDA/bin_opt/ft.A
CUDA/bin_opt/ft.B
CUDA/bin_opt/ft.C
CUDA/bin_opt/ft.S
CUDA/bin_opt/ft.W
CUDA/bin_opt/is.A
CUDA/bin_opt/is.B
CUDA/bin_opt/is.C
CUDA/bin_opt/is.S
CUDA/bin_opt/is.W
CUDA/bin_opt/lu.A
CUDA/bin_opt/lu.B
CUDA/bin_opt/lu.C
CUDA/bin_opt/lu.S
CUDA/bin_opt/lu.W
CUDA/bin_opt/mg.A
CUDA/bin_opt/mg.B
CUDA/bin_opt/mg.C
CUDA/bin_opt/mg.S
CUDA/bin_opt/mg.W
CUDA/bin_opt/sp.A
CUDA/bin_opt/sp.B
CUDA/bin_opt/sp.C
CUDA/bin_opt/sp.S
CUDA/bin_opt/sp.W
CUDA/bin/sp.A
CUDA/bin/sp.B
CUDA/bin/sp.C
CUDA/bin/sp.S
CUDA/bin/sp.W
CUDA/sys/setparams
